Repository HomeLabHQ/loyalist, changes with the labels that .github/labeler.yml gives for each.
All labels: api_changes, documentation, db_schema

Update CRUDtest documentation Overall documentation improvements Fixes #43
  .vscode/settings.json
  README.md
  backend/.python-version
  backend/core/tests.py
  backend/uv.lock
Labels: documentation

Make postgresql unique for each run(same as sonar ) To avoid port allocation issues Fixes #46
  .github/workflows/sonar.yml
  backend/core/settings.py
Labels: none

Fix containers
  .github/workflows/sonar.yml
Labels: none

Test name resolution
  .github/workflows/sonar.yml
Labels: none

Change network mode
  .github/workflows/sonar.yml
Labels: none

Revert changes
  .github/workflows/sonar.yml
Labels: none

Try manual docker
  .github/workflows/sonar.yml
Labels: none

Fix command
  .github/workflows/sonar.yml
Labels: none

Fix envs
  .github/workflows/sonar.yml
Labels: none

Fix
  .github/workflows/sonar.yml
Labels: none

Fix
  .github/workflows/sonar.yml
Labels: none

Revert
  .github/workflows/sonar.yml
Labels: none

Remove comment
  .github/workflows/sonar.yml
Labels: none

Try concurrency
  .github/workflows/sonar.yml
Labels: none

Update readme
  README.md
Labels: documentation

Update concurrency
  .github/workflows/sonar.yml
Labels: none

Make postgresql unique for each run(same as sonar ) To avoid port allocation issues (#47)
  .github/workflows/sonar.yml
  README.md
  backend/core/settings.py
Labels: documentation

Update readme
  README.md
Labels: documentation

Python 3.13 Fixes #52
  README.md
  backend/.python-version
  compose.slim.yml
  compose.yml
  docker/backend/Dockerfile
  docker/docs/Dockerfile
Labels: documentation

Update documentation
  README.md
Labels: documentation

Update docs
  README.md
Labels: documentation

Not ready to migrate
  .vscode/settings.json
  frontend/eslint.config.js
  frontend/tsconfig.json
Labels: none

Bumps
  .vscode/settings.json
  frontend/package.json
  frontend/yarn.lock
Labels: none

GH-50-Test-Biome-as-eslintprettier-replacement (#57)
  .vscode/settings.json
  frontend/eslint.config.js
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: none

Disable DRF API render
  backend/core/settings.py
Labels: none

Add Greenmask service and configuration to Docker setup
  .vscode/settings.json
  compose.yml
  docker/greenmask/config.yaml
  docs/.env.example
  taskfile.yml
Labels: none

Add Greenmask service and configuration to Docker setup (#72)
  .vscode/settings.json
  compose.yml
  docker/greenmask/config.yaml
  docs/.env.example
  taskfile.yml
Labels: none

Added compose.yml
  compose.yml
Labels: none

Add compose yml
  compose.yml
Labels: none

Caddy with frontend Fixes #71
  .pre-commit-config.yaml
  .vscode/settings.json
  compose.slim.yml
  compose.yml
  docker/caddy/Dockerfile
  docker/docs/Dockerfile
  docker/frontend/Dockerfile
  frontend/.nvmrc
  sonar-project.properties
  taskfile.yml
Labels: none

Caddy 2.8 fix
  docker/caddy/Caddyfile
Labels: none

Remove caddy config mount due to copy in dockerfile
  compose.yml
Labels: none

Updates
  README.md
  backend/core/serializers.py
  backend/core/settings.py
  backend/pyproject.toml
  backend/uv.lock
  docs/database/database.md
  frontend/.yarn/releases/yarn-4.5.0.cjs
  frontend/.yarn/releases/yarn-4.6.0.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/yarn.lock
Labels: documentation, db_schema

GHA ARC
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/sonar.yml
Labels: none

chores(deps): housekeeping
  .github/copilot-commit-message-instructions.md
  .github/copilot-instructions.md
  .github/prompts/check-model.prompt.md
  .github/prompts/document-api.prompt.md
  .github/prompts/py-refactor.prompt.md
  .github/workflows/sonar.yml
  .vscode/launch.json
  .vscode/settings.json
  copilot-commit-message-instructions.md
  copilot-instructions.md
  frontend/.yarn/releases/yarn-4.6.0.cjs
  frontend/.yarn/releases/yarn-4.9.1.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  prompts/check-model.prompt.md
  prompts/document-api.prompt.md
  prompts/py-refactor.prompt.md
Labels: documentation

chore(docker): update build.yml to include container and services
  .github/workflows/build.yml
Labels: none

feat(lint): add linting workflow for frontend
  .github/workflows/build.yml
  .github/workflows/lint-fe.yml
Labels: none

chore(lint): update linting workflow to include Yarn installation
  .github/workflows/lint-fe.yml
Labels: none

feat(frontend): add GitHub Actions workflow for frontend build
  .github/workflows/build-fe.yml
Labels: none

chore(frontend): update GitHub Actions workflows for Yarn installation
  .github/workflows/build-fe.yml
  .github/workflows/lint-fe.yml
Labels: none

.github/labeler.yml:

api_changes:
  - "docs/schema.yml"
no_tests:
  - all: ["!**/tests.py", "!**/**/tests.py"]
documentation:
  - "**/*.md"
db_schema:
  - "docs/database/database.md"
