Repository HomeLabHQ/loyalist, changes with the labels that .github/labeler.yml gives for each.
All labels: api_changes, documentation, db_schema

Switch to uv
  .pre-commit-config.yaml
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/tests.py
  backend/authentication/views.py
  backend/cards/models.py
  backend/cards/tests/tests.py
  backend/cards/views.py
  backend/core/tests.py
  backend/core/tokens.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/stores/models.py
  backend/stores/tests/tests.py
  backend/stores/views.py
  backend/uv.lock
  compose.dev.yml
  compose.slim.yml
  compose.yml
  docker/caddy/Caddyfile
  docker/docs/Dockerfile
  docker/docs/entrypoint.sh
  docker/docs/mkdocs.yml
  docs/database/database.md
  docs/index.md
  taskfile.yml
Labels: documentation, db_schema

Fix sonar on UV
  .github/workflows/docs.yml
  .github/workflows/sonar.yml
Labels: none

Fix sonar
  .github/workflows/sonar.yml
Labels: none

Fix path
  .github/workflows/sonar.yml
Labels: none

Update sonar-project.properties
  sonar-project.properties
Labels: none

Updates
  .github/workflows/sonar.yml
  .vscode/settings.json
  backend/authentication/serializers.py
  backend/authentication/urls.py
  backend/authentication/views.py
  backend/core/settings.py
  backend/core/tests.py
  backend/core/urls.py
  backend/core/utils.py
  backend/pyproject.toml
  backend/templates/notifications/base-email.html
  backend/templates/notifications/password-updated.email.html
  backend/templates/notifications/password-updated.html
  backend/templates/notifications/restore-password.email.html
  backend/templates/notifications/signup.email.html
  backend/uv.lock
  compose.dev.yml
  compose.slim.yml
  compose.yml
  docker/frontend/Dockerfile
  docs/schema.yml
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/components/auth/ForgetPasswordForm.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/ResetPasswordForm.tsx
  frontend/src/components/cards/CardList.tsx
  frontend/src/components/landing/Hero.module.css
  frontend/src/components/landing/Hero.tsx
  frontend/src/pages/ForgetPassword.page.tsx
  frontend/src/pages/Landing.page.tsx
  frontend/src/pages/ResetPassword.page.tsx
  frontend/src/redux/api.ts
  frontend/yarn.lock
  taskfile.yml
Labels: api_changes

Fix taken port
  .github/workflows/sonar.yml
Labels: none

Improve ports
  .github/workflows/sonar.yml
Labels: none

Fix coverage
  .github/workflows/sonar.yml
Labels: none

Fix
  .github/workflows/sonar.yml
Labels: none

Fix
  .github/workflows/sonar.yml
  docs/.env.example
Labels: none

Fix
  compose.yml
Labels: none

Fix
  compose.yml
Labels: none

Fix
  .github/workflows/sonar.yml
  .gitignore
  taskfile.yml
Labels: none

Fix
  .github/workflows/sonar.yml
  backend/pyproject.toml
  taskfile.yml
Labels: none

Update sonar.yml
  .github/workflows/sonar.yml
Labels: none

Fix
  .github/workflows/sonar.yml
  backend/pyproject.toml
  taskfile.yml
Labels: none

Fix coverage
  sonar-project.properties
  taskfile.yml
Labels: none

Refactor docker
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/uv.lock
  compose.slim.yml
  compose.yml
  docker/docs/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/entrypoint.sh
  frontend/.yarn/releases/yarn-4.3.1.cjs
  frontend/.yarn/releases/yarn-4.5.0.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  taskfile.yml
Labels: none

Fix compose
  compose.slim.yml
Labels: none

Remove docs
  compose.yml
  docker/caddy/Caddyfile
Labels: none

Fix
  compose.slim.yml
Labels: none

Fix documentation
  README.md
  docker/caddy/Caddyfile
Labels: documentation

Fix entrypoint
  docker/backend/entrypoint.sh
Labels: none

Fix build
  .dockerignore
  docker/frontend/Dockerfile
Labels: none

Add static collection
  docker/backend/entrypoint.sh
Labels: none

Fix docs build
  backend/pyproject.toml
  backend/uv.lock
  docker/backend/Dockerfile
  taskfile.yml
Labels: none

Fix build
  compose.yml
Labels: none

Remove depends on
  compose.slim.yml
Labels: none

Fix docs
  README.md
Labels: documentation

Add container names
  compose.yml
  taskfile.yml
Labels: none

Update readme
  README.md
Labels: documentation

Switch to undraw for illustrations
  compose.slim.yml
  compose.yml
  docker/backend/Dockerfile
  docker/docs/Dockerfile
  frontend/src/assets/loyalty-card.jpg
  frontend/src/assets/shopping.svg
  frontend/src/components/landing/Hero.tsx
Labels: none

Eslint bumps
  backend/pyproject.toml
  frontend/.eslintignore
  frontend/.eslintrc.cjs
  frontend/.prettierrc.cjs
  frontend/.prettierrc.mjs
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/components/auth/ForgetPasswordForm.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/PasswordChangeForm.tsx
  frontend/src/components/auth/ProfileForm.tsx
  frontend/src/components/auth/ResetPasswordForm.tsx
  frontend/src/components/cards/CardItem.module.css
  frontend/src/components/cards/CardItem.tsx
  frontend/src/components/cards/CardList.tsx
  frontend/src/components/landing/Hero.module.css
  frontend/src/components/landing/Hero.tsx
  frontend/src/components/shared/Footer.tsx
  frontend/src/components/shared/Navigation.tsx
  frontend/src/components/shared/NotFound.tsx
  frontend/src/components/shared/UserMenu.tsx
  frontend/src/main.tsx
  frontend/src/pages/Home.page.tsx
  frontend/src/pages/Landing.page.tsx
  frontend/src/pages/Login.page.tsx
  frontend/src/pages/MainLayout.tsx
  frontend/src/pages/Profile.page.tsx
  frontend/src/pages/SignupConfirm.page.tsx
  frontend/src/pages/SocialLogin.page.tsx
  frontend/src/redux/api.ts
  frontend/src/redux/authSlice.ts
  frontend/src/redux/baseApi.ts
  frontend/src/redux/hooks.ts
  frontend/src/redux/store.ts
  frontend/src/settings/constants.ts
  frontend/yarn.lock
Labels: none

Refactor browser router
  frontend/src/Router.tsx
  frontend/src/assets/404.svg
  frontend/src/components/cards/CardForm.tsx
  frontend/src/components/cards/CardItem.module.css
  frontend/src/components/cards/CardItem.tsx
  frontend/src/components/cards/CardList.tsx
  frontend/src/components/shared/Footer.tsx
  frontend/src/components/shared/Header.module.css
  frontend/src/components/shared/Header.tsx
  frontend/src/components/shared/NotFound.module.css
  frontend/src/components/shared/NotFound.tsx
  frontend/src/constants.ts
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/Home.page.tsx
  frontend/src/pages/MainLayout.tsx
  frontend/src/pages/NewCard.page.tsx
  frontend/src/pages/Profile.page.tsx
  frontend/src/utils/formatDate.ts
  frontend/src/utils/makeKey.ts
  frontend/src/utils/makeSwap.ts
  frontend/src/utils/timeToEvent.ts
  frontend/tsconfig.json
Labels: none

Commit containers
  .github/workflows/sonar.yml
Labels: none

Fix container name
  .github/workflows/sonar.yml
Labels: none

Fix sonar container
  .github/workflows/sonar.yml
Labels: none

Replace `navigate` call using enum
  frontend/src/components/auth/ForgetPasswordForm.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/ProfileForm.tsx
  frontend/src/components/auth/ResetPasswordForm.tsx
  frontend/src/components/shared/Footer.tsx
  frontend/src/components/shared/Navigation.tsx
  frontend/src/components/shared/UserMenu.tsx
  frontend/src/constants.ts
  frontend/src/pages/SignupConfirm.page.tsx
  frontend/src/pages/SocialLogin.page.tsx
Labels: none

Update constants
  frontend/src/constants.ts
Labels: none

.github/labeler.yml:

api_changes:
  - "docs/schema.yml"
no_tests:
  - all: ["!**/tests.py", "!**/**/tests.py"]
documentation:
  - "**/*.md"
db_schema:
  - "docs/database/database.md"
