Repository HomeLabHQ/loyalist, changes with the labels that .github/labeler.yml gives for each.
All labels: api_changes, documentation, db_schema

.github/labeler.yml:

api_changes:
  - "docs/schema.yml"
no_tests:
  - all: ["!**/tests.py", "!**/**/tests.py"]
documentation:
  - "**/*.md"
db_schema:
  - "docs/database/database.md"

Add coverage exclusions
  sonar-project.properties
Labels: none

Fix coverage for sonar
  backend/core/tokens.py
  backend/pyproject.toml
Labels: none

Fix deploy command
  taskfile.yml
Labels: none

Deploying to gh-pages from @ HomeLabHQ/loyalist@bce669e3c504986a8a589fd0d441d604169d6400 🚀
  sitemap.xml
  sitemap.xml.gz
Labels: none

Refactor `docker-compose` files
  backend/cards/tests/test.py
  backend/stores/admin.py
  compose.slim.yml
  compose.yml
Labels: none

Add basic landing page
  .vscode/launch.json
  backend/core/tests.py
  backend/poetry.lock
  docs/database/database.md
  docs/schema.yml
  frontend/.yarn/releases/yarn-4.0.2.cjs
  frontend/.yarn/releases/yarn-4.3.1.cjs
  frontend/.yarnrc.yml
  frontend/index.html
  frontend/package.json
  frontend/public/favicon.png
  frontend/src/Router.tsx
  frontend/src/assets/loyalty-card.jpg
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/cards/CardList.tsx
  frontend/src/components/events/AuthorActions.tsx
  frontend/src/components/events/EventForm.tsx
  frontend/src/components/events/EventItem.tsx
  frontend/src/components/landing/Hero.module.css
  frontend/src/components/landing/Hero.tsx
  frontend/src/components/shared/Footer.tsx
  frontend/src/components/shared/Header.module.css
  frontend/src/components/shared/Header.tsx
  frontend/src/components/shared/UserMenu.module.css
  frontend/src/components/shared/UserMenu.tsx
  frontend/src/favicon.svg
  frontend/src/main.tsx
  frontend/src/pages/Event.page.tsx
  frontend/src/pages/Home.page.tsx
  frontend/src/pages/Login.module.css
  frontend/src/pages/Login.page.tsx
  frontend/src/pages/MainLayout.tsx
  frontend/src/pages/SignupConfirm.page.tsx
  frontend/src/pages/SocialLogin.page.tsx
  frontend/src/redux/api.ts
  frontend/tsconfig.json
  frontend/yarn.lock
  taskfile.yml
Labels: api_changes, documentation, db_schema

Improve signup Improve footer header
  backend/cards/serializers.py
  backend/cards/views.py
  backend/core/settings.py
  backend/templates/notifications/signup.email.html
  frontend/package.json
  frontend/src/assets/app-logo.png
  frontend/src/components/cards/CardList.tsx
  frontend/src/components/shared/Footer.module.css
  frontend/src/components/shared/Footer.tsx
  frontend/src/pages/MainLayout.module.css
  frontend/src/pages/MainLayout.tsx
  frontend/src/pages/SignupConfirm.page.tsx
  frontend/src/pages/SocialLogin.page.tsx
  frontend/src/settings/constants.ts
  taskfile.yml
Labels: none

Improve Profile form Add change password feature Add extraction of avatars from oauth providers
  .pre-commit-config.yaml
  backend/authentication/serializers.py
  backend/authentication/social_pipeline.py
  backend/authentication/tests.py
  backend/authentication/urls.py
  backend/authentication/views.py
  backend/cards/tests/tests.py
  backend/core/settings.py
  backend/core/tests.py
  backend/core/urls.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/stores/tests/tests.py
  backend/templates/notifications/password-updated.html
  docs/c4/pages
  docs/c4/system.md
  docs/schema.yml
  frontend/src/Router.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/PasswordChangeForm.tsx
  frontend/src/components/auth/ProfileForm.module.css
  frontend/src/components/auth/ProfileForm.tsx
  frontend/src/components/cards/CardItem.tsx
  frontend/src/components/cards/CardList.tsx
  frontend/src/components/landing/Hero.module.css
  frontend/src/components/shared/Navigation.module.css
  frontend/src/components/shared/Navigation.tsx
  frontend/src/components/shared/UserMenu.tsx
  frontend/src/pages/Login.module.css
  frontend/src/pages/MainLayout.module.css
  frontend/src/pages/MainLayout.tsx
  frontend/src/pages/SignupConfirm.page.tsx
  frontend/src/pages/SocialLogin.page.tsx
  frontend/src/redux/api.ts
  frontend/vite.config.mjs
Labels: api_changes, documentation

Fix curl dependency
  docker/backend/Dockerfile
Labels: none

Update lock file
  backend/poetry.lock
Labels: none

Migrate to mantine dropdown
  backend/authentication/models.py
  backend/authentication/serializers.py
  docs/schema.yml
  frontend/package.json
  frontend/src/components/auth/ProfileForm.tsx
  frontend/src/components/shared/ImageUploader.tsx
  frontend/src/redux/api.ts
  frontend/yarn.lock
Labels: api_changes

Test sonarqube
  .github/workflows/sonar.yml
Labels: none

Fix version
  .github/workflows/sonar.yml
Labels: none

Fix
  .github/workflows/sonar.yml
Labels: none

Remove host directive
  .github/workflows/sonar.yml
Labels: none

Add sonar cloud io link
  .github/workflows/sonar.yml
Labels: none

Fix branch name
  .github/workflows/sonar.yml
Labels: none

try selfhosted
  .github/workflows/sonar.yml
Labels: none

Try new path
  .github/workflows/sonar.yml
  frontend/Dockerfile
Labels: none

Fix path
  .github/workflows/sonar.yml
Labels: none

Try path
  .github/workflows/sonar.yml
Labels: none

Path fix
  .github/workflows/sonar.yml
Labels: none

Try sonarcloud cli
  .github/workflows/sonar.yml
Labels: none

Fix version
  .github/workflows/sonar.yml
Labels: none

Try another path
  .github/workflows/sonar.yml
Labels: none

Check path
  .github/workflows/sonar.yml
Labels: none

Try path
  .github/workflows/sonar.yml
Labels: none

Try self-hosted cli
  .github/workflows/sonar.yml
Labels: none

Fix missing tty
  .github/workflows/sonar.yml
Labels: none

Fix run command
  .github/workflows/sonar.yml
Labels: none

Add scan
  .github/workflows/sonar.yml
Labels: none

Split to steps
  .github/workflows/sonar.yml
Labels: none

Fix steps skips
  .github/workflows/sonar.yml
Labels: none

Create without start
  .github/workflows/sonar.yml
Labels: none

Fix envs
  .github/workflows/sonar.yml
Labels: none

fix envs
  .github/workflows/sonar.yml
Labels: none

Disable poetry for packaging
  backend/pyproject.toml
Labels: none

Fix api doc error
  backend/cards/views.py
  backend/pyproject.toml
  docs/schema.yml
  frontend/index.html
  frontend/public/favicon.jpg
  frontend/public/favicon.png
  frontend/src/assets/app-logo.jpg
  frontend/src/assets/app-logo.png
  frontend/src/pages/MainLayout.tsx
  frontend/src/redux/api.ts
Labels: api_changes

Add file cleanup view
  backend/core/parsers.py
  backend/core/tests.py
  backend/core/urls.py
  backend/core/views.py
  docs/schema.yml
  frontend/src/components/auth/ProfileForm.tsx
  frontend/src/redux/api.ts
  sonar-project.properties
Labels: api_changes

Fix test exclusions
  sonar-project.properties
Labels: none
